.App {
  text-align: center;
  background-color: lightseagreen;
  color: white;
  .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    .title {
      color: rgb(255, 255, 255);
      margin: 8px 24px 8px 20px;
    }
    .plus {
      padding: 12px 24px;
      font-size: 36px;
      cursor: pointer;
    }
  }
}
