.contacts {
  .contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 12px;
    padding: 12px;
    margin: 8px 72px;
    cursor: pointer;
    .item {
      max-width: 200px;
      width: 100%;
    }
  }
}

@media (max-width: 420px) {
  .contacts {
    .contact {
      margin: 8px 22px;
      .item {
        white-space: nowrap;
        overflow: hidden;
        width: 140px;
      }
    }
  }
}
